html, body {
	background-color: #131b28;
	padding: 0;
	margin: 0;
	font-family: "Avenir"；
}


.container {
	width: 100%;
	height:100%;
}
.topContainer {
	background-color: #0f151e;
	width: 100%;
	height:318px;	
	background-image:url(../images/topContainerBg.png); 
	background-size:100% 318px;
	background-repeat:no-repeat;
}

/*menuBar CSS*/
.menuBar {
	background-color: #19b637;
	width: 100%;
	height: 45px;
}

.menuButtonContainer {
	margin-left: 10px;
	height: 100%;
	position: relative;
}

.menuBar a {
	padding: 11px 0;
	width: 50%;
	float: left;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	-webkit-tap-highlight-color:transparent;
}

.selectedBorder {
	background-color: #fff000;
	height: 5px;
	width: 45%;
	left: 2.5%;
	position: absolute;
	top: 43px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.3);
}

/*bottomContainer CSS*/
.bottomContainer {
	background-color: #131b28;
	width: 100%;
	height: 400px;
}

.userAvatar {
	background-color: #fff;
	width: 100px;
	height: 100px;
	border-radius: 100px;
	margin-top: 55px;
	float:left; 
	box-shadow: 0 3px 5px rgba(0,0,0,0.9);
}

.userAvatar img {
	width:100%;
	height: 100%;
	border-radius: 100px;
}

.userInfo {
	width: 100%;
	height: 45px;
	margin-top: 20px;
	float:left; 
}

.userInfo h1 {
	color: #fff;
	margin: 0;
	width: 100%;
	height: 18px;
	font-size: 18px;
	text-align: center;
}

.userInfo p {
	color: #fff;
	opacity: 0.5;
	font-size: 12px;
	text-align: center;
	margin-top: 9px;
}

.input {
	background-color: #1a222f;
	width: 90%;
	height: 50px;
	border-radius: 5px;
	float: left;
	margin: 20px 0 0 5%;	
}

.guichuInput {
	width: 90%;
	height: 48px;
	background: none;
	font-size: 14px;
	opacity: 0.3;
	margin: -2px 0 0 10px;
	border: none;
	font-weight: 500;
}

.bottom-container {
	margin-top: 10px;
	width: 100%;
	height: 320px;
	background-color: #ccc;
}

.flex-container {

	/*使用flex布局*/
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	
	/*选取space-around的水平空间平均分配*/
    justify-content: space-around;

    background: #f0f3f9;
    width: 100%;
    height: 320px;
}

.skillItem {
	/*item样式*/
	height: 160px;
	width: 33.33%;
	background-color: #ccc222;
	
	/*使用flex布局*/
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;

	/*新的元素可换行显示，不加此代码会挤在一行*/
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	
	/*选取space-around的水平空间平均分配*/
    justify-content: space-around;

}

.skillIcon {
	background-color: #fb4300;
	width: 60px;
	height: 60px;
	border-radius: 100px;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.9);
}

.skillItem h3 {
	width: 100%;
	text-align: center;
}

/*box布局的skillItem*/
/*
.skillItem {
	width: 33.333%;
	height: 150px;
	float: left;
}

.skillIcon {
	background-color: #fb4300;
	width: 65px;
	height: 65px;
	border-radius: 100px;
	margin-top: 35px;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.9);
}

/*鬼畜让它说a标签*/
/*.skillIcon a {
	float: left;
	width: 100%;
	height: 100%;
	border-radius: 100px;
	text-decoration: none;


}

.skillInfo {
	margin: 15px 0 0 0;
}

.skillName {
	width: 100%;
	color: #fff;
	font-size:14px;
	font-weight: bold;
	text-align: center;
	float: left;
	margin: 0;
}

.skillDesc {
	margin: 3px 0 0 15%;
	width: 70%;
	color: #fff;
	opacity: 0.3;
	font-size:11px;
	text-align: center;
	float: left;*/
}
*/




